/*Base Button*/
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: 2px;
    border-radius: 4px;
    transition:
        background-color 150ms ease,
        color 150ms ease,
        border-color 150ms ease,
        box-shadow 150ms ease,
        transform 100ms ease;
}

.btn:active {
    transform: scale(0.97);
}

.btn:focus-visible {
    outline: 2px solid #000000;
    outline-offset: 3px;
}

.btn:disabled {
    background-color: #666666;
    color: #4D4D4D; 
    border-color: #4D4D4D;
}

/*Button Icon*/
.btn-icon {
  display: inline-flex;
  align-items: center;
  line-height: 0;
}

.btn-icon svg {
  height: 1.2em;
  width: auto;
  display: block;
}

/*Button Sizing*/
.btn-sm {
    padding: 8px;
    font-size: 0.75rem;
}

.btn-md {
    padding: 12px;
    font-size: 1rem;
}

.btn-lg {
    padding: 16px;
    font-size: 1.25rem;
}

.btn-xl {
    padding: 18px;
    font-size: 1.5rem;
}

/*Button Variants*/
.btn-primary {
    background-color: #C32726;
    color: #490100; 
    border-color: #C32726;
}

.btn-primary:hover {
    background-color: #710606;
    color: #490100; 
    border-color: #710606;
}

.btn-primary:active {
    background-color: #EC403F;
}

.btn-primary:focus-visible {
    outline-color:#490100;
}

.btn-secondary {
    background-color: #F4B619;
    color: #8A4300; 
    border-color: #F4B619;
}

.btn-secondary:hover {
    background-color: #F08521;
    color: #8A4300; 
    border-color: #F08521;
}

.btn-secondary:active {
    background-color: #FFCD4E;
}

.btn-secondary:focus-visible {
    outline-color:#8A4300;
}

.btn-ghost {
    background-color: transparent;
    color: #490100; 
    border-color: #490100;
}

.btn-ghost:hover {
    background-color: transparent;
    color: #490100; 
    border-color: #490100;
    border: 2px;
}

.btn-ghost:active {
    background-color: #FFB5B4;
}

.btn-ghost:focus-visible {
    outline-color:#490100;
}