body {
    margin: 0;
    padding: 0;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;   /* full viewport width */
  height: 90vh;   /* or 100vh if you want */
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  inset: 0; /* same as top:0; right:0; bottom:0; left:0 */
  z-index: 1;
}

.hero-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  overflow: hidden;
}

.hero-content {
    z-index: 2;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.hero-sm-title {
    font-family: Bebas Neue, sans-serif;
    font-size: 4rem;
    margin: 0;
    color: white;
    line-height: 1;
    letter-spacing: 2px;
}

.hero-title {
    font-family: Bebas Neue, sans-serif;
    margin: 0;
    line-height: 0.9;
    font-size: 20rem;
    color: transparent;
    -webkit-text-stroke: 3px white;
    text-stroke: 3px white;        /* Standard version */
}

.buttons {
    display: flex;
    justify-content: flex-start;
}

.menu {
    margin-right: 2 rem;
}