.section {
    background-color: #CCCCCC;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    padding: 5rem;
}

.header {
    font-family: Bebas Neue, sans-serif;
    text-transform: uppercase;
    margin: 0px;
}

.line1 {
    color: black;
}

.line2 {
    color: #4D4D4D;
    margin-top: -0.5rem;
}

p {
    font-family: Inter, san-serif;
    color: black;
}

@media (max-width: 1024px) {
  .container {
    padding: 3rem;
    gap: 4rem; /* 12rem is huge on tablet */
  }
}

/* =========================
   Mobile (<= 768px)
   ========================= */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    padding: 2rem 1.25rem;
    gap: 2rem;
  }
}